server:
  port: 8080
spring:
  application:
    name: ride-service-backend
  datasource:
    url: jdbc:postgresql://db:5432/ride_service_db
    username: rider
    password: Qwerty1234&
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
